<h1><%= params[:controller].humanize %> - <%= params[:action].humanize %> - <%= params[:method].humanize %></h1>

<%= render 'shared/show_all', :all_types_objects => @all_types_objects %>

<%= link_to 'Back', injection_test_injection_form_path(encode_method(params[:method])) %>