<% if @sub_method %>
<div class="field">
  <%= label_tag(:sub_method) %><br />
  <%= select_tag(:sub_method, options_for_select(ReadTestController::CALCULATE_SUB_METHODS)) %>
</div>
<% end %>
<div class="field">
  <%= label_tag(:column_name) %><br />
  <%= select_tag(:column_name, options_for_select(@column_names)) %>
</div>
<% if @distinct %>
<div class="field">
  <%= label_tag(:distinct_calculate) %><br />
  <%= select_tag(:distinct_calculate, options_for_select([nil, "false", "true"])) %>
</div>
<% end %>
