<h1><%= params[:controller].humanize %> - <%= params[:action].humanize %> - <%= params[:method].humanize %></h1>

<% if @result.respond_to?(:each) # We are dealing with a collection of objects %>
  <% @result.each do |all_types_object| %>
    <%= render 'shared/show', :all_types_object => all_types_object %>
  <% end %>
<% else # We are dealing with a simple value %>
  <p><%= @result %></p>
<% end %>

<%= link_to 'Back', read_test_relation_by_sql_form_path(encode_method(params[:method]), params[:option]) %>